/* footer section css start */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    margin-top: 24px;
    color:#B0B0B0 ;
}

footer p:hover{
    color: #CC0000;
    cursor: pointer;
    transition-duration: 300;
}
/* footer section css start */

/* FOOTER CSS START HERE */
/* Footer container */
.footer {
    /* margin-top: 60px; */
    background-color: #7f1d1d;
    color: white;
    padding: 30px 0;
}

.footer-container{
    /* margin: 0 15%; */
    /* border: 1px solid white; */
}

/* Footer grid */
#footer-grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 50px;
}

/* Section title */
.section-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #d1d5db;
}

/* Links */
.links {
    /* border: 1px solid white; */
    list-style: none;
    padding: 0;
}
.links li{
    margin: 8px 0;

}
.link {
    color: #9b9b9b;
    text-decoration: none;
    /* display: block; */
    /* border: 1px solid white; */
}

.link:hover {
    text-decoration: underline;
    color: #d1d5db;
    transition-duration: 300;
}

/* Footer bottom */
.footer-bottom {
    margin-top: 10px;
    padding: 20px 0;
}

/* Copyright */
.copyright {
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #666666;
}

/* Social links */
.social-links {
    margin-top: 10px;
}

.social-link {
    color: #666666;
    margin-right: 10px;
    text-decoration: none;
}

.social-link:hover {
    color: #333333;
}

/* FOOTER CSS ENDS HERE */

  /* Blogg post responsive start */

  @media (min-width: 1024px) {
    .main-blog-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .blog-container\:mb-16 {
        margin-bottom: 4rem/* 64px */;
    }
}
  /* Blogg post responsive end */

  /* footer responsive start */

  @media (max-width: 768px) {
    #footer-grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 30px;
    }
    .pages ul{
        gap: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
  }
  /* footer responsive end */
  @media (max-width: 425px) {
    .pages ul{
        gap: 6px;
        display: flex;
        /* grid-auto-flow: row; */
        
    
    }
}

  