body{
    background-color:#111827 ;
}
  /* Blogg content start here */

.blog-section{
    margin: 1% 0;
    /* border: 1px solid white; */
    min-height: 80vh;
  }
.blog-container{
    padding: 32px 12%;
    /* max-width: 640px; */
    display: grid;
    justify-content: center;
    align-items: center;
}

.title h1{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 40px;
    color: white;
}
.main-blog-container{
    display: grid;
    gap: 32px;
}
.main-blog-container article{
    padding: 24px;
    color: white;
    background-color: #1F2937;
    border:1px solid #475569 ;
    border-radius: 8px;
}

article h2{
    letter-spacing: -0.025em;
    font-size: 1.5rem/* 24px */;
    line-height: 2rem/* 32px */;
}
article h2 a{
    text-decoration: none;
    color: #d1d5db;
}

article p{
    color: #6b7280;
    margin-bottom: 20px;
    font-weight: 300;
}
.blog-bottom-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-bottom-container div{
    display: flex;
    align-items: center;
    gap: 15%;
}

.blog-bottom-container div img{
    height: 28px;
    width: 28px;
    border-radius: 50%;
}

.blog-bottom-container a{
    display: inline-flex;
    justify-content: center;
    /* text-decoration: none; */
    color: #6b7280;
    font-weight: 500;

}

.user-usernames{
  color: white !important;
  text-decoration: none;
}

  /* Blogg content end here */


/* Responsive section */

/* navbar response start */


  /* end  navbar*/

/* blog-categories-buttons start */

.blog-categories-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8%;
}

.blog-categories-main-container{
  /* border: 1px solid white; */
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: center;
  height: 50px;
  /* width: 500px; */
  overflow: hidden;
  overflow-x:auto;
}

/* .blog-categories-buttons{
  padding: 20px 60px;
  border-radius: 50%;
  border: none;
  color: white;
  background-color: transparent;
  border: 1px solid #475569;
  
} */

/* blog-categories-buttons end */



/* CSS */
.blog-categories-buttons {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: 1.75rem;
  /* box-sizing: border-box; */
  color: #938f8f;
  cursor: pointer;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.5rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  border: 1px solid #1F2937;
}

.blog-categories-buttons:hover {
  /* background-color: #374151; */
  border: 1px solid #7f1d1d;
}

.blog-categories-buttons:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}


/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .logo {
    margin-bottom: 10px;
  }

  .pages ul {
    flex-direction: column;
  }

  .pages ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .dropdown {
    margin-top: 10px;
  }

  .blog-categories-buttons {
    padding: .75rem 1.5rem;
  }

  .blog-categories-main-container{
    /* width: 420px; */
  }
}

@media screen and (max-width: 1024px){
  .blog-categories-main-container{
    width: 750px;
  }
}

@media screen and (max-width: 425px) {
  .blog-categories-main-container{
    width: 300px;
    border: 1px solid white;
  }
}