body{
    background-color:#111827;
}

.view-blogs-section{
    margin-bottom: 5%;
    /* border: 1px solid wheat; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-blog-container{
    /* border: 2px solid #475569; */
    padding: 30px 80px;
}
/* image container css */
#view-img-container img{
    height: 450px;
    border-radius: 11px;
    width: 800px;
    object-fit:cover;
    opacity: 0.7;
}

.view-blog-description{
    width: 800px;
    /* border: 1px solid #475569; */
    border-radius: 4px;
    margin: 80px 0;
    color: white;
}

.view-blog-description #view-blogg-title{
    text-align: center;
    font-family: Roboto;
}

.view-blogg-description p{
    color: #aaaeb8;
    font-size: 18px;
    line-height: 1.6;
    margin: 20px 0;
    font-weight: 300;
    text-align: justify;
    text-justify: inter-word;
}

#view-blogg-dates-user-container{
    /*border: 1px solid white;*/
    display: flex;
    justify-content:flex-end;
    margin-top: 12px;
}

/* responsive */
@media (max-width: 768px) {
    .view-blog-container{
        padding: 10px 40px;
    }
    #view-img-container img{
        max-width: 500px;
        max-height: 300px;
    }

    .view-blog-description{
        max-width: 500px;
    }
}

@media (max-width: 425px){
    .view-blog-container{
        padding: 10px 8px;
    }
    #view-img-container img{
        max-width: 300px;
        max-height: 160px;
    }

    .view-blog-description{
        max-width: 300px;
    }
}